<div class="todo-container">
    <h2>Todo List</h2>
    <div class="todo-input">
      <input type="text" placeholder="Add new todo" [(ngModel)]="newTodoTitle" (keyup.enter)="addTodo()">
      <button (click)="addTodo()">Add</button>
    </div>
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.completed">
        <input type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodoStatus(todo)">
        <span>{{ todo.title }}</span>
        <button (click)="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>
  